<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'background1' %>
      <div class="caption right-align">
        <h3>Find The Room of Your Dream</h3>
      </div>
    </li>
    <li>
      <%= image_tag 'background2' %>
      <div class="caption right-align">
        <h3>Meet Awesome Roomates</h3>
      </div>
    </li> 
  </ul>
</div>
