<%= render 'side_nav' %>
<div class="list-container">
  <div class="row">
    <div class="row center-align">
      <a href="#" data-activates="slide-out" class="btn button-collapse"><i class="fa fa-search"></i> Search</a>
    </div>
    <div class="row center-align">
      <%= render @posts %>
    </div>
    <div class="row center-align">
      <%= paginate @posts %>
    </div>
  </div>
</div>
