.alert {
  padding: 15px;
  border: 1px solid transparent;
}

.alert-danger, .alert-alert {
  color: #565a5c;
  background-color: #ebccd1;
}

.alert-info, .alert-notice, .alert-success {
  color: #565a5c;
  background-color: #c2e4e7;
}

.field_with_errors { display: inline; }

