
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-muted {
  color: #82888a;
}

.text-highlight {
  color: #1ca4a4;
}

.row-space-2 {
  margin-bottom: 12.5px;
}


