@import "materialize";
@import "materialize/extras/nouislider";

.logo{
  font-size: 2rem;
}

.nav-search {
  margin-left: 40px;
  border-radium: 10px;
  input {
    border-bottom: none;
    width: 100px;
  }
}

.side-nav {
  color: black;
  padding: 10px;
}

.card {
	padding: 10px;
}

.current {
	color: black;
}
