<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">RoomIt</h5>
        <p class="grey-text text-lighten-4">Find the room of your dream</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    2016 Yuan Xue
    </div>
  </div>
</footer>
